@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html { 
  visibility:hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin-top: 80px;
}

/** BX Slider ===================================*/
.bx-wrapper {position: relative;margin-bottom: 60px;padding: 0;*zoom: 1;-ms-touch-action: pan-y;touch-action: pan-y;}.bx-wrapper img {width: 100%;display: block;margin-left: auto;margin-right: auto;}.bxslider {margin: 0;padding: 0;}ul.bxslider {list-style: none;}.bx-viewport {-webkit-transform: translatez(0);}.bx-wrapper {background: #fff;}.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {position: absolute;bottom: -30px;width: 100%;}.bx-wrapper .bx-loading {min-height: 50px;background: url('images/bx_loader.gif') center center no-repeat #ffffff;height: 100%;width: 100%;position: absolute;top: 0;left: 0;z-index: 2000;}.bx-wrapper .bx-pager {text-align: center;font-size: .85em;font-family: Arial;font-weight: bold;color: #666;padding-top: 20px;}.bx-wrapper .bx-pager.bx-default-pager a {background: #666;text-indent: -9999px;display: block;width: 10px;height: 10px;margin: 0 5px;outline: 0;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {background: #000;}.bx-wrapper .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {display: inline-block;vertical-align: bottom;*zoom: 1;*display: inline;}.bx-wrapper .bx-pager-item {font-size: 0;line-height: 0;}.bx-wrapper .bx-prev {left: 10px;background: url('images/controls.png') no-repeat 0 -32px;}.bx-wrapper .bx-prev:hover, .bx-wrapper .bx-prev:focus {background-position: 0 0;}.bx-wrapper .bx-next {right: 10px;background: url('images/controls.png') no-repeat -43px -32px;}.bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus {background-position: -43px 0;}.bx-wrapper .bx-controls-direction a {position: absolute;top: 50%;margin-top: -16px;outline: 0;width: 32px;height: 32px;text-indent: -9999px;z-index: 9999;}.bx-wrapper .bx-controls-direction a.disabled {display: none;}.bx-wrapper .bx-controls-auto {text-align: center;}.bx-wrapper .bx-controls-auto .bx-start {display: block;text-indent: -9999px;width: 10px;height: 11px;outline: 0;background: url('images/controls.png') -86px -11px no-repeat;margin: 0 3px;}.bx-wrapper .bx-controls-auto .bx-start:hover, .bx-wrapper .bx-controls-auto .bx-start.active, .bx-wrapper .bx-controls-auto .bx-start:focus {background-position: -86px 0;}.bx-wrapper .bx-controls-auto .bx-stop {display: block;text-indent: -9999px;width: 9px;height: 11px;outline: 0;background: url('images/controls.png') -86px -44px no-repeat;margin: 0 3px;}.bx-wrapper .bx-controls-auto .bx-stop:hover, .bx-wrapper .bx-controls-auto .bx-stop.active, .bx-wrapper .bx-controls-auto .bx-stop:focus {background-position: -86px -33px;}.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {text-align: left;width: 80%;}.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {right: 0;width: 35px;}.bx-wrapper .bx-caption {position: absolute;bottom: 0;left: 0;background: #666;background: rgba(80, 80, 80, 0.75);width: 100%;}.bx-wrapper .bx-caption span {color: #fff;font-family: Arial;display: block;font-size: .85em;padding: 10px;}

/*---- Theme -----*/

/*----
Header section
----*/

.app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1500;
  padding: 100px 0 0 100px;
  color: #43449b;
  text-transform: uppercase;
  font-weight: bold;
}

.bg-light {
  background-color: #fff !important;
  -webkit-box-shadow: 0px 2px 13px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 13px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 13px -6px rgba(0,0,0,0.75);
}

.navbar-brand {
  margin-left: 20px;
}

.navbar-nav {
  font-size: 16px;
  text-transform: uppercase;
}

.navbar-nav li {
  padding: 0 20px;
}

.navbar-nav .active {
  background: #2f306e;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: rgb(255,255,255);
}

.dropdown {
  margin-top: 8px;
}

.dropdown a {
  text-decoration: none;
  color: rgba(0,0,0,.5);
}

.dropdown-toggle {
  color: rgba(0,0,0,.5);
}

.dropdown-menu {
  left: -10px;
}

/*----
Footer section 
footer, contaier, bottom-nav, social-media, medsos, w, text-footer, pt-link
----*/
.footer {
  background: #2f306e;
  padding: 30px 0 10px 0;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: lighter;
}

.footer h5 {
  font-size: 14px;
  font-weight: bold;
}

.footer a,
.footer a:hover {
  color: inherit;
}

.footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer li {
  display: block;
  margin: 0 5px;
  float: left;
}

.footer li:first-child {
  margin-left: 0;
}

hr.w {
  border-top: 1px solid rgba(255,255,255,.1);
}

.pt-link {
  margin-left: 1rem;
}

.social-media a {
  display: block;
  padding: 5px 9px 5px 10px;
  background-color: #4649a6;
}

/*----
Content section 
----*/

/* Home page */
.card-program {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

.card-program .card {
  border: 0;
  border-radius: 0;
  background-color: #f8f8f8;
}

.card-program .card .card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.card-program .card .card-body {
  padding-bottom: .5rem;
  padding-top: .5rem;
}

.card-program .card .card-body .title-program {
  color: inherit;
  font-size: 22px;
  font-weight: bold;
}

.card-program .card .card-body .lp-program {
  font-size: 16px;
  font-weight: bold;
  color: #666;
  margin-top: 6px;
}

.bg-why {
  background-color: #43449b;
}

.bg-why .media {
  background: #fff;
  color: #3e3e3e;
}

.testimoni {
  background-color: #f1f1f3;
}

.testimoni .testimoni-body {
  width: 80%;
}

.testimoni .thumb {
  background-color: #fff;
  border-radius: 50px;
}

.testimoni .testimoni-body a {
  color: #43449b;
  font-style: italic;
  font-weight: bold;
}

.blog {
  color: #fff;
  background: #43449b;
}

.blog .media {
  background: transparent;
  color: inherit;
}

.blog .media a {
  color: #eaeaea;
  font-style: italic;
}

.blog .media .blog-thumb {
  border-radius: 3px;
}

/* Single program */
.title-program-with-images {
  padding-top: 100px;
}

.page-wrapper {
  background: #43449b;
}

.border-right {
  border-right: 1px solid #dadada;
}

.border-right-transparent {
  border-right: 1px solid transparent;
}

/* Sidebar */
.sidebar ul {
  margin: 0 0 20px 25px;
  padding: 0;
  list-style-type: square;
}

.sidebar ul > li > a {
  font-size: 14px;
  color: #43449b;
}

/*----
Program section 
----*/
.info-bar {
  background: #f7f7f7;
}

.info-bar h5 {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #999;
  padding-top: 15px;
}

.info-bar p {
  font-size: 20px;
  font-weight: bold;
  color: #595959;
  margin-bottom: 15px;
}

.content-itin,
.content-term {
  font-size: 14px;
}
.content-itin ul,
.content-itin ul li ul,
.content-term ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
}

.content-itin ul li {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.content-itin ul li h4 {
  padding-left: 0;
  text-align: center;
  width: 18%;
  height: 45px;
  margin-right: 15px;
}

.content-itin ul li ul li,
.content-itin ul li ul li p {
  padding-left: 10px;
  margin-bottom: 0;
}

.content-itin ul li ul li:first-child {
  padding-left: 0;
}

.content-itin ul li ul li h5 {
  display: block;
  width: 100%;
}

.content-term ul li {
  width: 100%;
  margin-bottom: 0;
}

.content-term ul li h4 {
  display: block;
  width: 100%;
}

.content-term ul li ul {
  margin: 0 0 25px 25px;
  padding: 0;
  list-style-type: square;
}

/*----
Global section 
----*/
.add-info {
  color: #666;
}

.media {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 25px;
  border-radius: .2rem;
  font-size: 12px;
}

.shadow {
  -webkit-box-shadow: 2px 2px 8px -4px rgba(0,0,0,0.3);
  -moz-box-shadow: 2px 2px 8px -4px rgba(0,0,0,0.3);
  box-shadow: 2px 2px 8px -4px rgba(0,0,0,0.3);
}

.page-title {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.content {
  margin-bottom: 30px;
}

.text-page h1,
.text-page h2,
.text-page h3,
.text-page h4,
.text-page h5,
.text-page h6 {
  margin-bottom: 20px;
}

.text-page p {
  color: #788189;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 30px;
}

.content-itin h4,
.content-itin h5,
.content-term h4,
.sidebar h4 {
  background: #f7f7f7;
  color: #595959;
  border-top: 5px solid #dadada;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px 0 10px 10px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
